@page
@model IndexModel
@{
    ViewData["Title"] = "Página principal";
}

<br><div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Interfaz web para gestión de producción</p>
</div>
